<!doctype html>
  <html ng-app="sharc">
    <head>
      <title>SHARC</title>
    </head>
    <body ng-controller="InstSelect">
        <select ng-model="selectedInstrument" ng-change="changeInstrument()" ng-options="item.instname as item.instname for item in instMetadata">
            <option value="">Select Instrument</option>
        </select>
        <select ng-model="selectedFile" ng-change="makeHighChartData()" ng-options="note.file as note.note for note in notes">
            <option value="">Select Note</option>
        </select>
        Amplitude <input type="radio" name="outputType" value="amplitude" ng-model="my.outputType" ng-change="makeHighChartData()" checked="checked">
        Decibels <input type="radio" name="outputType" value="decibels" ng-model="my.outputType" ng-change="makeHighChartData()">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </body>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers/InstSelect.js"></script>
      <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
  </html
